__pycache__/

resources/temp/*
!resources/temp/dummy.txt

resources/backup/*
!resources/backup/dummy.txt

resources/files/*
!resources/files/20211018CR0846.evt

resources/log/*
!resources/log/dummy.txt

resources/local/*
!resources/local/0041018.dcm

.idea/
.idea/

.DS_Store
