fastapi==0.70.0
numpy==1.21.3
onnxruntime==1.9.0
opencv-python==4.5.3.56
openshift==0.12.1
Pillow==8.4.0
pydicom==2.2.2
uvicorn==0.15.0
wheel==0.37.0
pandas==1.2.4
python-multipart==0.0.5
# pylibjpeg==1.3.0
# pylibjpeg-libjpeg==1.2.0
# pylibjpeg-openjpeg==1.1.1
# pylibjpeg-rle==1.1.0
pynetdicom==2.0.1

opencv-python-headless
# streamlit
watchdog
aiofiles
python-gdcm
# scipy
imageio
matplotlib
# GPUtil

# cryptography
# jwt
# pymongo
